.DS_Store
Image/x64BareBonesImage.vmdk
Image/x64BareBonesImage.qcow2
Image/x64BareBonesImage.img
Kernel/*.out
Kernel/*.o
Kernel/*.obj
Kernel/*.exe
Kernel/*.bin
Kernel/*.map
Kernel/*.sym
Kernel/*.lst
Kernel/*.list
Kernel/*.log
Kernel/*.err
*.out
*.o
*.obj
*.exe
*.bin
*.map
*.sym
*.lst
*.list
*.log
*.err
# Userland build artifacts
Userland/**/*.o
Userland/**/*.bin
Userland/*.a
test_mm
Kernel/test_mm
.vscode/settings.json
